nav {
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    grid-gap: 1em;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.8);
}

nav .logo {
    display: flex;
    align-items: center;
    font-weight: normal;
}

nav .logo h1 {
    font-weight: normal;
    font-size: 18px;
}

nav .logo .icon {
    width: 40px;
    height: 40px;
    background: url("https://static.wixstatic.com/media/17ad0f_2e5c2eabfdf148f5bf51fd5060eaceee~mv2_d_2029_1392_s_2.jpg/v1/fill/w_116,h_80,al_c,q_80,usm_0.66_1.00_0.01/WechatIMG29.webp");
    border-radius: 50%;
    margin: 0 20px;
    display: inline-block;
    background-size: cover;
    background-position-x: -18px;
}

nav ul {
    list-style: none;
    grid-column: none;
}

a {
    text-decoration: none;
    color: #000;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
    font-weight: bold;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    nav {
        grid-template-columns: initial;
        grid-template-rows: max-content 1fr;
    }
    nav ul {
        grid-column: initial;
    }
}

@media screen and (max-width: 425px) {
    nav {
        grid-template-columns: initial;
        grid-template-rows: initial;
    }
    nav ul {
        display: none;
    }
}
